.background {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(255, 255, 255);
  opacity : 0.2;
  background-image: url(https://s.pinimg.com/webapp/style/images/bg_multi_case_grid_no_text_white_55_percent-2000ab22.jpg);
}

.logo {
  background-image: url(https://www.billiger-telefonieren.de/bilder/1/pinterest_news_9155.png);
}

.progressBar {
  background-color: rgb(203, 32, 39);
}

.splash {
  background-image: url(https://lh3.googleusercontent.com/-9Ob6w91WtKA/ViO4U6ztKbI/AAAAAAAAABE/49172yyKge4/w500-h500/pinterest-logo.png);
}

.watermark {
  background-image: url(http://www.free-icons-download.net/images/pinterest-logo-icon-63868.png);
  opacity : 0.2;
}
